{# Node template with semantic article wrapper. #}
<article{{ attributes.addClass('axiom-node') }}>
  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
