{# Node template with semantic article wrapper. #}
<article{{ attributes }}>
  {% if label and not page %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</article>
