{# Axiom01 fieldset wrapper for Drupal form groups. #}
<fieldset{{ attributes }}>
  {% if legend and legend.title %}
    <legend{{ legend.attributes }}>
      <span{{ legend_span.attributes }}>{{ legend.title }}</span>
    </legend>
  {% endif %}

  <div>
    {% if errors %}
      <div class="form-item--error-message" role="alert">{{ errors }}</div>
    {% endif %}

    {% if description and description_display in ['before', 'invisible'] %}
      <div class="description">{{ description }}</div>
    {% endif %}

    {{ children }}

    {% if description and description_display == 'after' %}
      <div class="description">{{ description }}</div>
    {% endif %}
  </div>
</fieldset>
