{# Form element wrapper keeping Drupal form rendering compatible with Axiom01 defaults. #}
<div{{ attributes.addClass('axiom-form-element') }}>
  {% if label_display != 'invisible' %}
    {{ label }}
  {% endif %}
  {{ children }}
  {% if errors %}
    <div class="axiom-form-error form-item--error-message" role="alert">{{ errors }}</div>
  {% endif %}
  {% if description.content %}
    <small>{{ description.content }}</small>
  {% endif %}
</div>
