{# Details wrapper for Drupal forms. #}
<details{{ attributes }}>
  {% if title %}
    <summary{{ summary_attributes }}>{{ title }}</summary>
  {% endif %}
  <div>
    {% if errors %}
      <p role="alert" data-axiom-error>{{ errors }}</p>
    {% endif %}

    {% if description and description_display in ['before', 'invisible'] %}
      <div>{{ description }}</div>
    {% endif %}

    {{ children }}
    {{ value }}

    {% if description and description_display == 'after' %}
      <div>{{ description }}</div>
    {% endif %}
  </div>
</details>
